h1 {
  font-size: 50px;
  text-align: center;
}

.add-nsx-box {
  width: 50%;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 var(--box-shadow), 0 1px 5px 0 var(--box-shadow);
  width: 700px;
  height: 250px;
  position: relative;
  transition: 0.2s linear;
}

.add-nsx-box:hover {
  box-shadow: 0 1px 4px 0 var(--box-shadow), 0 1px 10px 0 var(--box-shadow);
}

.input {
  outline: none;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  width: 480px;
  border: 2px solid var(--color1);
  font-size: 18px;
  font-weight: 600;
  margin-top: 55px;
  transition: 0.2s linear;
}

.name-nsx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

label span {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.add-nsx-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background-color: white;
  border: 2px solid var(--color1);
  color: black;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s linear;
}

.add-nsx-button:hover {
  box-shadow: 0 1px 2px 0 var(--box-shadow), 0 1px 5px 0 var(--box-shadow);
  background-color: var(--main-color);
  color: white;
}

table {
  margin: 20px auto;
  text-align: center;
}

th {
  width: 300px;
  font-size: 20px;
}

th:first-child {
  width: 150px;
}

.nsx-data {
  font-size: 18px;
}

.addnsx-btn {
  display: flex;
  justify-content: space-between;
}

.btn-cust {
  border: 2px solid var(--color1);
  padding: 7px 15px;
  border-radius: 10px;
  width: 230px;
  height: 60px;
  cursor: pointer;
}

.view_wrap {
  display: none;
}

.choose-active {
  display: block;
}

.tab-active {
  border: 2px solid var(--main-color);
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 var(--box-shadow), 0 1px 5px 0 var(--box-shadow);
}

.nsxchose {
  position: absolute;
  left: 50%;
  width: 500px;
  top: 30px;
  transform: translateX(-50%);
  height: 35px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  padding: 0 10px;
  transition: 0.2s linear;
  outline: none;
}

.input-sub-brand {
  position: absolute;
  bottom: -135px;
  left: 50%;
  transform: translateX(-50%);
}

.thuonghieunhanh {
  margin: 15px;
}
