.top-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view-op {
  text-decoration: none;
  margin-left: 10px;
  transition: 0.2s linear;
}

.icon-view {
  cursor: pointer;
}

.icon-view-active {
  background-color: var(--main-color);
  padding: 10px 10px;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 10px 0 var(--box-shadow), 0 1px 6px 0 var(--box-shadow);
}

.mainview {
  position: relative;
}

.main-content {
  display: flex;
}

.left-container {
  flex: 1.3;
  border: 1px solid var(--color1);
  margin-top: 15px;
  border-radius: 10px;
  padding: 0 25px 0 10px;
  transition: 0.1s linear;
  display: inline-block;
  height: fit-content;
}

.left-container:hover {
  box-shadow: 0 1px 10px 0 var(--box-shadow), 0 1px 6px 0 var(--box-shadow);
}

.op-header {
  display: flex;
  justify-content: space-between;
}

.left-op-title {
  font-weight: 600;
  margin-top: 10px;
}

.left-op-icon {
  margin-top: 10px;
  display: none;
}

.icon-active {
  display: block;
}

.left-op-check {
  list-style: none;
  margin-left: -30px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.main-container {
  flex: 6;
  height: fit-content;
}

.grid-view {
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto auto;
  margin-left: 8px;
}

.grid-view a,
.list-view a {
  text-decoration: none;
  color: var(--text-color);
}

.item-box {
  width: 200px;
  height: 300px;
  border: 1px solid var(--color1);
  border-radius: 10px;
  margin-left: 15px;
  padding: 10px;
  position: relative;
  transition: 0.1s linear;
  margin-bottom: 15px;
  margin-top: 15px;
}

.item-box:hover {
  box-shadow: 0 1px 10px 0 var(--box-shadow), 0 1px 12px 0 var(--box-shadow);
}

.item-box img {
  width: 190px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

.item-box h3 {
  position: absolute;
  top: 180px;
  width: 190px;
  text-align: center;
}

.item-box-title {
  font-weight: 600;
  font-size: 18px;
}

.item-box div {
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 190px;
}

.list-view {
  display: none;
  grid-template-columns: auto;
}

.item-box-list {
  display: flex;
  height: 180px;
  border: 1px solid var(--color1);
  cursor: pointer;
  margin: 15px 0 7px 50px;
  border-radius: 10px;
  transition: 0.1s linear;
  overflow: hidden;
}

.righttcont ul li {
  display: flex;
  list-style: none;
}

.item-box-list:hover {
  box-shadow: 0 1px 10px 0 var(--box-shadow), 0 1px 12px 0 var(--box-shadow);
}

.item-box-list img {
  /* width: 180px; */
  height: 170px;
  flex: 1;
  object-fit: contain;
}

.item-box-list div {
  padding-left: 20px;
  flex: 2;
}

.page-number {
  position: absolute;
  left: 60.5%;
  bottom: 450px;
  transform: translateX(-50%);
}

.page-number-a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 20px 0 20px;
  color: var(--text-color);
}

.page-number-a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: transparent;
  border: 1px solid var(--color1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.page-active::before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.page-number-icon {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.sapxep {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--color1);
  outline: none;
  transition: 0.2s linear;
}

.sapxep:focus {
  border: 2px solid var(--main-color);
  box-shadow: 0 1px 10px 0 var(--box-shadow), 0 1px 6px 0 var(--box-shadow);
}
